.p__first {
    font-family: Verdana, Geneva, sans-serif;
    color: green;
    background-color: yellow;
}

.p__second {
    font-family: "Courier New", Courier, monospace;
    color: white;
    background-color: black;
}
