/* Basic CSS reset */
*,
:after,
:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

h2 {
    margin-top: 20px;
}

.borderbox1 {
    box-sizing: border-box;
    border: 1px solid black;
    width: 125px;
    height: 100px;
    padding: 20px;
    margin: 10px;
}

.borderbox2 {
    box-sizing: border-box;
    border: 1px dotted red;
    width: 125px;
    height: 100px;
    padding: 20px;
    margin: -30px 10px 10px 10px;
}