/* Basic CSS reset */
*,
:after,
:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
  padding: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eeeeee;
  line-height: 1.5rem;
}