.colorhex {
    color: #ff0000;
    background-color: #000000;
}

.colorname {
    color: red;
    background-color: black;
}

.colorrgba{
    color: rgb(255, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.1);
}

.explanation {
    font-size: 1rem;
}

.monospace {
    font-family: "Courier New", Courier, monospace;
}