/* Basic CSS reset */
*,
:after,
:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.iconsize {
    font-size: 3rem;
    line-height: 4rem;
}

.page__body {
    margin: 10px auto;
    width: 50%;
    text-align: center;
}